*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-div{
    display:flex;
}
img{
    width:320px;
}
button{
    margin: 10px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width:1px;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    border-radius: 5px;
    border-style:solid;
}
#searchbar{
    width:400px;
    padding:15px;
    padding-left: 40px;
    border-radius: 20px;
    border-width:1px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 10px center;
    box-shadow: 2px 4px #F5F5F5;
    border-style:solid;
    border-color:#f5f5f5;
    margin: 10px;
}

.url {
    padding: 5px;
}

.description {
    padding: 5px;
}

.title {
    padding: 5px;
    font-size: 20px;
}



